#sections {
}

#id1da77e0a-3633-dbfb-8ff3-e3390ac59636 {
min-height: 700%;
width: 100%;
height: auto;
}
#id871d72e2-37d5-5105-5ac8-2fb56090a7aa {
min-height: 0px;
height: 600px;
width: 100%;
background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.91) 0%, rgba(3, 3, 3, 0.28) 92%), url('images/images908/welding-1209208_960_720.jpg');
background-size: cover, cover;
background-position: 0% 0%, 50% 0%;
background-repeat: repeat, no-repeat;
background-attachment: scroll, scroll;
background-color: transparent;
max-height: none;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#idcf3f4d17-9c29-2c4d-1d1c-451cf89566d3 {
width: 100%;
min-height: 0px;
height: auto;
max-height: none;
}
#idd57c4f84-8be8-e6c3-a460-e626ac650be7 {
width: 100%;
min-height: 390px;
background-color: rgba(255, 255, 255, 1);
height: auto;
margin-bottom: 0px;
max-height: none;
}
#idd57c4f84-8be8-e6c3-a460-e626ac650be7:hover {
height: auto;
max-height: none;
min-height: 390px;
}
#id0445008e-4d45-0f8e-6d5d-22d120898c87 {
height: 65px;
width: 100%;
background-color: rgba(0, 0, 0, 0.74);
min-height: 0px;
margin-top: 0px;
max-height: none;
}
#id0445008e-4d45-0f8e-6d5d-22d120898c87 .tabLabel[data-id="id9e096189-595d-62c7-2161-ab851faa3c55"] {
width: auto;
}
#id9e096189-595d-62c7-2161-ab851faa3c55 {
width: 412px;
height: 65px;
margin-top: 0px;
float: right;
margin-bottom: 0px;
margin-left: auto;
margin-right: 30px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
min-width: 0px;
max-width: none;
}
#id0445008e-4d45-0f8e-6d5d-22d120898c87 .navbarmenubtn[data-id="id9e096189-595d-62c7-2161-ab851faa3c55"] {
float: right;
margin-right: 65px;
margin-left: auto;
width: 30px;
height: 65px;
background-image: url('img/icons/navbtn.png');
background-size: auto;
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: scroll;
}
#idedf76888-210c-2015-a74b-2de9461e6294 {
min-width: 0px;
max-width: none;
width: 431px;
float: right;
height: 65px;
margin-top: 0px;
}
#ide6800103-5d78-59e6-2a18-36bf8c62c50c {
font-size: 18px;
margin-right: 0px;
width: 140px;
color: rgba(255, 255, 255, 1);
font-weight: lighter;
height: 65px;
line-height: 62px;
font-family: 'Ubuntu', sans-serif;
}
#ide6800103-5d78-59e6-2a18-36bf8c62c50c:hover {
background-color: rgba(125, 125, 125, 0.6);
}
#id1bfbe1f0-7c29-37dd-103f-fcfed5c68f67 {
width: 180px;
min-width: 0px;
max-width: none;
font-size: 18px;
margin-right: 0px;
color: rgba(255, 255, 255, 1);
font-weight: lighter;
height: 65px;
line-height: 62px;
font-family: 'Ubuntu', sans-serif;
}
#id1bfbe1f0-7c29-37dd-103f-fcfed5c68f67:hover {
background-color: rgba(125, 125, 125, 0.61);
}
#id0bc9ba50-8ab4-3f00-8838-d09ef481adbd {
margin-top: 200px;
float: none;
margin-right: auto;
margin-left: auto;
text-align: center;
font-size: 39px;
width: 818px;
min-width: 0px;
max-width: none;
background-color: transparent;
font-family: 'Ubuntu', sans-serif;
color: rgba(255, 255, 255, 1);
font-weight: bolder;
}
#id2f2f3f8a-5132-d93a-c0db-ad28a728220b {
margin-top: 0px;
float: none;
margin-right: auto;
margin-left: auto;
text-align: center;
font-size: 27px;
width: 374px;
min-width: 0px;
max-width: none;
font-family: 'Ubuntu', sans-serif;
background-color: transparent;
color: rgba(255, 255, 255, 1);
font-weight: lighter;
}
#id7da52e53-d786-c742-5045-ed625d3f79c3 {
margin-top: 0px;
float: none;
margin-right: auto;
margin-left: auto;
text-align: center;
font-size: 27px;
width: 346px;
min-width: 0px;
max-width: none;
font-family: 'Ubuntu', sans-serif;
background-color: transparent;
color: rgba(255, 255, 255, 1);
font-weight: lighter;
}
#id2f8feb3d-bc49-684d-2379-d8eedb2c09f2 {
text-align: center;
margin-top: 95px;
margin-bottom: 0px;
font-family: 'Ubuntu', sans-serif;
font-weight: lighter;
font-size: 30px;
width: 555px;
min-width: 0px;
max-width: none;
}
#id80f30cff-f9ed-7968-fdde-c8cbc891c405 {
top: auto;
left: 0px;
bottom: 0px;
right: 0px;
margin-top: 32px;
height: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
width: 802px;
margin-bottom: 0px;
}
#id80f30cff-f9ed-7968-fdde-c8cbc891c405:hover {
margin-top: 32px;
}
#id93d258f8-106d-2c2e-5aa9-3ca6b713f42c {
min-height: 0px;
min-width: 0px;
max-width: none;
width: 230px;
margin-left: 0px;
}
#id4bf45929-8f9d-e36a-069b-50b99d4e15d2 {
text-align: center;
margin-top: 12px;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
border-bottom-style: solid;
width: 187px;
min-width: 0px;
max-width: none;
border-bottom-width: 2px;
border-bottom-color: rgba(0, 0, 0, 0.83);
font-weight: lighter;
}
#id62d0c8db-d597-5f86-de39-5f46a980128d {
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
font-weight: lighter;
}
#ida9938517-abd7-02eb-0307-a78fbe06c659 {
min-height: 0px;
width: 230px;
float: left;
margin-left: 0px;
}
#id8e2fbde1-84a0-afa0-80bf-0c063a3b61db {
text-align: center;
margin-top: 12px;
font-size: 20px;
font-family: 'Ubuntu', sans-serif;
width: 201px;
min-width: 0px;
max-width: none;
font-weight: lighter;
}
#id36859f12-c9bf-4c33-2ff2-6239985a560d {
text-align: center;
font-size: 20px;
font-family: 'Ubuntu', sans-serif;
font-weight: lighter;
}
#id1f0936fc-a002-b11b-5a6d-11ddba3b469f {
min-height: 0px;
width: 230px;
margin-left: 0px;
}
#id4f2bb674-7a4b-8277-f03e-eed699bc6fea {
text-align: center;
font-size: 20px;
font-family: 'Ubuntu', sans-serif;
margin-top: 12px;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 84px;
min-width: 0px;
max-width: none;
font-weight: lighter;
border-bottom-style: solid;
border-bottom-width: 2px;
}
#id49bfd0ac-fd57-deac-f78d-c6c5ae86e08e {
min-height: 0px;
width: 100%;
}
#idec8eaf7d-180c-4c1a-dc8c-33b8e5038cca {
min-height: 0px;
width: 100%;
height: auto;
max-height: none;
background-color: rgba(255, 255, 255, 1);
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#idaa6b6c0a-e42b-0012-d02b-d07f76309dae {
margin-top: 110px;
text-align: center;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
font-size: 25px;
font-family: 'Ubuntu', sans-serif;
font-weight: 400;
background-color: rgba(255, 255, 255, 0.73);
height: auto;
max-height: none;
min-height: 0px;
margin-bottom: 80px;
line-height: 30px;
padding-bottom: 25px;
padding-top: 25px;
}
#id51a32a4f-12e2-776a-5a8d-e578fdbd8a37 {
font-size: 18px;
width: 100px;
color: rgba(255, 255, 255, 1);
height: 65px;
line-height: 62px;
font-family: 'Ubuntu', sans-serif;
}
#id51a32a4f-12e2-776a-5a8d-e578fdbd8a37:hover {
background-color: rgba(125, 125, 125, 0.65);
}
#id536d5c36-7717-b5db-3de5-73914a9e8ae8 {
width: 413px;
min-width: 0px;
max-width: none;
margin-bottom: 55px;
color: rgba(5, 5, 5, 1);
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-left-color: rgba(41, 41, 41, 1);
border-right-color: rgba(41, 41, 41, 1);
border-bottom-color: rgba(41, 41, 41, 1);
border-top-color: rgba(41, 41, 41, 1);
font-family: 'Ubuntu', sans-serif;
font-weight: lighter;
font-size: 20px;
background-color: rgba(255, 255, 255, 1);
height: 24px;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#id536d5c36-7717-b5db-3de5-73914a9e8ae8:hover {
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
height: 24px;
max-height: none;
min-height: 0px;
background-color: rgba(240, 240, 240, 1);
font-weight: lighter;
}
#id05f9f504-9fc7-4f80-6559-0084f3e86d26 {
width: 100%;
}
#idc1db96b8-ebd0-a782-a262-3f4bde7b8923 {
width: 100%;
}
#id7b79edb9-d0b1-40ce-fcdf-ddd6a405936a {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
margin-top: 40px;
margin-left: 30px;
font-family: 'Ubuntu', sans-serif;
width: 246px;
min-width: 0px;
max-width: none;
float: none;
margin-right: auto;
line-height: 25px;
font-size: 18px;
}
#id79f945aa-f79f-9d10-0368-6f26f330204c {
background-color: rgba(255, 255, 255, 1);
height: auto;
max-height: none;
min-height: 443px;
border-top-style: solid;
border-bottom-style: solid;
margin-bottom: 3px;
}
#id79f945aa-f79f-9d10-0368-6f26f330204c:hover {
border-top-style: solid;
border-top-color: rgba(87, 87, 87, 1);
}
#id1a23224f-22b0-e1f0-66e0-175406dfe21d {
width: 50%;
height: auto;
max-height: none;
min-height: 389px;
}
#id1adfe8e1-4a9b-a1f3-3f26-f17526f76a28 {
min-width: 0px;
max-width: none;
width: 25%;
}
#ide8f45c53-8f86-47f7-d4b2-8ea37b52721d {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
float: left;
margin-top: 12px;
margin-left: 55px;
font-size: 18px;
color: rgba(255, 255, 255, 1);
font-family: 'Ubuntu', sans-serif;
font-weight: lighter;
height: 46px;
max-height: none;
min-height: 0px;
line-height: 20px;
}
#id98b7778b-51c4-ba23-b55a-96149c86862b {
height: 440px;
width: 100%;
min-width: 0px;
max-width: none;
max-height: none;
min-height: 0px;
}
#id2213bca2-f107-3847-88a7-3b3584b7577b {
margin-top: 35px;
background-color: rgba(0, 0, 0, 0.52);
font-size: 25px;
font-weight: normal;
font-family: 'Ubuntu', sans-serif;
width: 298px;
min-width: 0px;
max-width: none;
color: rgba(255, 255, 255, 1);
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 3px;
border-right-width: 3px;
border-bottom-width: 3px;
border-top-width: 3px;
border-left-color: rgba(255, 255, 255, 1);
border-right-color: rgba(255, 255, 255, 1);
border-bottom-color: rgba(255, 255, 255, 1);
border-top-color: rgba(255, 255, 255, 1);
height: 27px;
max-height: none;
min-height: 0px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}
#id2213bca2-f107-3847-88a7-3b3584b7577b:hover {
background-color: rgba(125, 125, 125, 0.55);
border-left-color: rgba(255, 255, 255, 1);
border-right-color: rgba(255, 255, 255, 1);
border-bottom-color: rgba(255, 255, 255, 1);
border-top-color: rgba(255, 255, 255, 1);
}
#id2e351c23-7ce3-cfec-1735-b67c9e0b160e {
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
font-family: 'Ubuntu', sans-serif;
font-weight: lighter;
font-size: 25px;
width: 600px;
min-width: 0px;
max-width: none;
}
#id028e4317-a822-e0a3-dcd9-42a0d65337a1 {
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 56px;
}
#idc6bf0107-a284-70e4-1579-553a4d2c2313 {
width: 56px;
}
#id614cc103-f76e-5c04-03dc-b414e5cd5ba4 {
min-height: 0px;
border-bottom-width: 2px;
border-bottom-style: solid;
}
#idd8322431-7ff8-57e1-1f44-58d7d9b6493b {
text-align: center;
font-size: 20px;
font-family: 'Ubuntu', sans-serif;
margin-top: 0px;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 220px;
min-width: 0px;
max-width: none;
font-weight: lighter;
}
#iddb6688aa-7a18-635c-9a29-0081633fa79f {
margin-top: 37px;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
font-weight: lighter;
color: rgba(0, 0, 0, 1);
width: 272px;
min-width: 0px;
max-width: none;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
background-color: transparent;
border-left-color: rgba(41, 41, 41, 1);
border-right-color: rgba(41, 41, 41, 1);
border-bottom-color: rgba(41, 41, 41, 1);
border-top-color: rgba(41, 41, 41, 1);
margin-bottom: 35px;
height: 25px;
max-height: none;
min-height: 0px;
}
#iddb6688aa-7a18-635c-9a29-0081633fa79f:hover {
border-left-color: rgba(41, 41, 41, 0.99);
border-right-color: rgba(41, 41, 41, 0.99);
border-bottom-color: rgba(41, 41, 41, 0.99);
border-top-color: rgba(41, 41, 41, 0.99);
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
height: 25px;
font-weight: lighter;
background-color: rgba(240, 240, 240, 1);
}
#idb335634a-4e0e-12a3-fd70-fb4c077a1fe5 {
width: 100%;
background-image: url('images/images908/welding-1628552_960_720.jpg');
background-size: cover;
background-position: 0% 0%;
background-repeat: no-repeat;
background-attachment: scroll;
background-color: rgba(204, 138, 142, 1);
}
#id3a100ba3-d481-7d65-0783-31a66c0a8d18 {
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
font-family: 'Ubuntu', sans-serif;
font-size: 25px;
font-weight: lighter;
margin-top: 0px;
width: 843px;
min-width: 0px;
max-width: none;
}
#idead5c5d4-ee11-e698-3021-8a48e55366c6 {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 60px;
height: 60px;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
float: right;
margin-right: 30px;
margin-top: 16px;
}
#id57513066-72e5-5170-6cc1-bd471c7e4976 {
height: auto;
max-height: none;
min-height: 0px;
}
#id2907b3fb-3f25-991c-b243-5215a9e7f916 {
min-width: 0px;
max-width: none;
width: 20%;
min-height: 0px;
}
#id7e93e895-bc40-160c-4bdb-ac815e55055d {
width: 80%;
min-height: 0px;
}
#id1b2e09ad-dbdb-461c-a642-74f0ac560cc4 {
margin-bottom: 20px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-size: 30px;
margin-top: 40px;
}
#ide05933e2-08b3-c758-a5a4-64673f1af093 {
height: auto;
max-height: none;
min-height: 0px;
margin-top: 35px;
}
#id0d9ad2c4-6bbe-f327-eda6-da22d050cfa0 {
min-width: 0px;
max-width: none;
width: 20%;
min-height: 0px;
}
#id84474b78-326c-a4ce-7761-3dc467e55ded {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 60px;
height: 60px;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
float: right;
margin-right: 30px;
margin-top: 0px;
}
#idd3e7ce17-55b2-7ef4-2c9b-b1c00254c4f7 {
width: 80%;
min-height: 0px;
}
#ide26f54ac-c4ea-74ea-1976-7790d0a60cf5 {
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
font-family: 'Ubuntu', sans-serif;
font-size: 25px;
font-weight: lighter;
margin-top: 0px;
width: 843px;
min-width: 0px;
max-width: none;
}
#idd02283c6-f34e-c088-e3c6-47c6a462cd48 {
height: auto;
max-height: none;
min-height: 0px;
margin-top: 35px;
}
#idb2917b1d-7066-d965-f72c-ef9faf3cc0e4 {
min-width: 0px;
max-width: none;
width: 20%;
min-height: 0px;
}
#id3da9137b-61a7-d489-3f19-33af99d6ae5b {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 60px;
height: 60px;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
float: right;
margin-right: 30px;
margin-top: 16px;
}
#id08f20bd2-ee29-aa05-5d0d-ee43257e1084 {
width: 80%;
min-height: 0px;
}
#id60aed0ed-0552-aeec-02af-b3197efb63f5 {
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
font-family: 'Ubuntu', sans-serif;
font-size: 25px;
font-weight: lighter;
margin-top: 0px;
width: 843px;
min-width: 0px;
max-width: none;
}
#id4bc997ae-449a-2bfa-4501-8fb1e43ffa9f {
height: auto;
max-height: none;
min-height: 0px;
margin-top: 35px;
margin-bottom: 40px;
}
#idd0049ff2-c263-f552-386d-33d796389d52 {
min-width: 0px;
max-width: none;
width: 20%;
min-height: 0px;
}
#id6f0331d6-e0bf-75b1-1c24-9a58ee164db3 {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 73px;
height: 18.012987012987015px;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
float: right;
margin-right: 30px;
margin-top: 16px;
}
#idf7cf2085-bc9f-3de8-ca97-bed7361ff9dd {
width: 80%;
min-height: 0px;
}
#idbade0ab0-0e14-fdeb-6f0e-bd9c2aeecd14 {
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
font-family: 'Ubuntu', sans-serif;
font-size: 25px;
font-weight: lighter;
margin-top: 0px;
width: 843px;
min-width: 0px;
max-width: none;
}
#id08bb7d11-15d8-3d38-1266-797e77f1b947 {
height: auto;
max-height: none;
min-height: 83px;
}
#id18e1b9c1-ecfc-594e-69a9-b01937230ab7 {
width: auto;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
min-height: 112px;
min-width: 0px;
max-width: none;
height: auto;
max-height: none;
}
#id56c9f280-6af5-6c9f-feab-38dfc0153cc7 {
width: 81.89999999999999px;
height: 54px;
float: left;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#idc381f8a4-1bde-6466-8ed2-956ca4a74a6e {
width: 273px;
height: 50px;
float: left;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#idfde69c90-e58c-ff59-38f8-f2d9ad78fc23 {
width: 207px;
height: 50px;
float: right;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
}
#idb1951540-7fcd-f114-125d-705c08e9f48a {
width: 131.25px;
height: 50px;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
}
#idf2c276e3-2eed-aced-9a11-0eccd931b652 {
width: 165px;
height: 50px;
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
}
#id38300a00-a9cb-277d-aea4-d731dc83dbc2 {
float: none;
margin-right: auto;
margin-left: auto;
min-width: 0px;
max-width: none;
width: 920px;
margin-top: 15px;
height: auto;
max-height: none;
min-height: 55px;
}
#id8530c407-41a7-b276-d6c8-a6d851779eb7 {
min-width: 0px;
max-width: none;
width: 88px;
min-height: 0px;
}
#ide3f53b30-44f4-5509-e62a-e55302ccc3bd {
min-width: 0px;
max-width: none;
width: 175px;
min-height: 0px;
}
#id295b5416-ce72-baab-ef07-6ddaefe33fb7 {
min-width: 0px;
max-width: none;
width: 292px;
min-height: 0px;
}
#id84568961-3c44-46de-f300-f3ee2081e27a {
min-width: 0px;
max-width: none;
width: 208px;
min-height: 48px;
height: auto;
max-height: none;
}
#idadd691ac-f136-e3e0-d05c-52bc2cb608c6 {
min-width: 0px;
max-width: none;
width: 155px;
min-height: 0px;
}
#idd8b4afdb-1fbb-16e2-1217-3e8f7145165e {
background-image: url('img/template_img/arrows/arr-30.png');
background-size: contain;
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: scroll;
background-color: transparent;
height: 30px;
max-height: none;
min-height: 0px;
width: 49px;
min-width: 0px;
max-width: none;
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
top: auto;
margin-bottom: 20px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
#idc6703cc4-8c4d-4455-bd12-7642b072b74d {
height: auto;
max-height: none;
min-height: 366px;
min-width: 0px;
max-width: none;
width: 70%;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
float: none;
margin-right: auto;
margin-left: auto;
}
#idb7f5e47a-c732-aa36-8bed-87ed0d1c4fde {
width: 75%;
margin-top: 52px;
}
#id50cec9e8-0e93-435b-7b13-cfe90b740f76 {
margin-bottom: 7px;
}
#id50cec9e8-0e93-435b-7b13-cfe90b740f76 input {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
}
#id665758c6-7fd8-b8d4-b940-eec6f1f80208 {
margin-bottom: 7px;
}
#id665758c6-7fd8-b8d4-b940-eec6f1f80208 input {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
}
#id75dd1e19-e7c7-5005-01c5-176977d4a06e {
margin-bottom: 7px;
}
#id75dd1e19-e7c7-5005-01c5-176977d4a06e input {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
}
#ida3cc936d-0f33-6ad9-60dc-926ba21ca298 textarea {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
#id3b684d0a-639b-eb27-e239-a520409b7f84 {
font-size: 13px;
margin-top: 7px;
float: none;
margin-right: auto;
margin-left: auto;
line-height: 15px;
width: 245px;
min-width: 0px;
max-width: none;
}
#ideb70639d-ffde-fb0c-1a50-4c8b4bb2ba0e button {
background-color: rgba(252, 252, 252, 1);
color: rgba(0, 0, 0, 1);
font-family: 'Ubuntu', sans-serif;
font-size: 18px;
padding-top: 9px;
padding-bottom: 9px;
border-left-color: rgba(41, 41, 41, 1);
border-right-color: rgba(41, 41, 41, 1);
border-bottom-color: rgba(41, 41, 41, 1);
border-top-color: rgba(41, 41, 41, 1);
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
font-weight: lighter;
}
#ideb70639d-ffde-fb0c-1a50-4c8b4bb2ba0e button:hover {
background-color: rgba(240, 240, 240, 1);
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
font-weight: lighter;
}
#ideb70639d-ffde-fb0c-1a50-4c8b4bb2ba0e {
width: 123px;
min-width: 0px;
max-width: none;
height: auto;
margin-top: 33px;
}
#id0ae026ef-597d-bc80-e5a1-853bd6d58db5 {
width: 500px;
background-color: rgba(224, 224, 224, 0.9);
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#id87dcbfe8-dc43-bcb2-76b8-14568f2239dd {
width: 17px;
height: 17px;
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
margin-top: 6px;
margin-left: 20px;
}
#id58a488a8-55ad-d238-702f-cf8b5720b26e {
font-size: 13px;
margin-top: 7px;
float: left;
margin-right: auto;
margin-left: 0px;
line-height: 15px;
width: 218px;
min-width: 0px;
max-width: none;
margin-bottom: 15px;
}
#id3f4aca47-aa11-b338-a474-0a47f4c31ca6 {
height: auto;
max-height: none;
min-height: 366px;
min-width: 0px;
max-width: none;
width: 25%;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
float: right;
margin-right: auto;
margin-left: auto;
}
#id8014362b-ff9d-66ea-0c2a-b290bc270127 {
width: 80%;
margin-top: 40px;
float: none;
margin-right: auto;
margin-left: auto;
}
#id9c50d30a-70cd-f119-1b28-cedd89748f11 {
margin-bottom: 7px;
}
#id9c50d30a-70cd-f119-1b28-cedd89748f11 input {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
}
#id6e4d046c-b8f2-9ad4-a07c-2fbbd8bee286 {
margin-bottom: 7px;
}
#id6e4d046c-b8f2-9ad4-a07c-2fbbd8bee286 input {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
}
#idff5e0d6a-ee73-c41d-5bc6-d24927524747 {
margin-bottom: 7px;
}
#idff5e0d6a-ee73-c41d-5bc6-d24927524747 input {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
}
#id4d83aa45-ede9-55c7-f026-34500e303a9d textarea {
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-top-width: 1px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
#id4cbb6939-688d-3e4d-533b-89e143c1a444 {
font-size: 13px;
margin-top: 7px;
float: none;
margin-right: auto;
margin-left: auto;
line-height: 15px;
width: auto;
min-width: 0px;
max-width: none;
}
#idcf3d3b8d-1581-f4e1-b62b-a812d2350fef {
width: 17px;
height: 17px;
float: left;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
margin-top: 15px;
margin-left: 0px;
}
#id93e25bd5-2dd0-9d75-5716-02617e75ca48 {
font-size: 13px;
margin-top: 7px;
float: left;
margin-right: auto;
margin-left: 0px;
line-height: 15px;
width: auto;
min-width: 0px;
max-width: none;
margin-bottom: 15px;
height: auto;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#id48b4b9c7-b60c-4234-49b8-04c7d270c775 button {
background-color: rgba(252, 252, 252, 1);
color: rgba(0, 0, 0, 1);
font-family: 'Ubuntu', sans-serif;
font-size: 18px;
padding-top: 9px;
padding-bottom: 9px;
border-left-color: rgba(41, 41, 41, 1);
border-right-color: rgba(41, 41, 41, 1);
border-bottom-color: rgba(41, 41, 41, 1);
border-top-color: rgba(41, 41, 41, 1);
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
font-weight: lighter;
}
#id48b4b9c7-b60c-4234-49b8-04c7d270c775 button:hover {
background-color: rgba(240, 240, 240, 1);
border-left-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-top-width: 2px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
font-weight: lighter;
}
#id48b4b9c7-b60c-4234-49b8-04c7d270c775 {
width: 123px;
min-width: 0px;
max-width: none;
height: auto;
margin-top: 33px;
}
@media(max-width: 959px) {
#id871d72e2-37d5-5105-5ac8-2fb56090a7aa {
height: 400px;
}
#idd57c4f84-8be8-e6c3-a460-e626ac650be7 {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
padding-left: 0px;
padding-right: 0px;
width: auto;
height: auto;
max-height: none;
min-height: 0px;
}
#idd57c4f84-8be8-e6c3-a460-e626ac650be7:hover {
min-height: 0px;
}
#id0445008e-4d45-0f8e-6d5d-22d120898c87 {
min-height: 0px;
height: 50px;
max-height: none;
}
#id9e096189-595d-62c7-2161-ab851faa3c55 {
width: auto;
height: 50px;
min-width: 0px;
max-width: none;
max-height: none;
min-height: 0px;
}
#id0445008e-4d45-0f8e-6d5d-22d120898c87 .navbarmenubtn[data-id="id9e096189-595d-62c7-2161-ab851faa3c55"] {
margin-right: 20px;
margin-top: -55px;
}
#idedf76888-210c-2015-a74b-2de9461e6294 {
width: 430px;
float: right;
margin-top: 0px;
height: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
}
#ide6800103-5d78-59e6-2a18-36bf8c62c50c {
width: 118px;
font-size: 16px;
height: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
margin-bottom: 0px;
line-height: 50px;
}
#id1bfbe1f0-7c29-37dd-103f-fcfed5c68f67 {
font-size: 16px;
height: auto;
width: 149px;
min-width: 0px;
max-width: none;
margin-bottom: 0px;
line-height: 50px;
}
#id0bc9ba50-8ab4-3f00-8838-d09ef481adbd {
font-size: 23px;
width: auto;
margin-top: 120px;
}
#id2f2f3f8a-5132-d93a-c0db-ad28a728220b {
font-size: 18px;
width: auto;
}
#id7da52e53-d786-c742-5045-ed625d3f79c3 {
font-size: 18px;
width: auto;
}
#id2f8feb3d-bc49-684d-2379-d8eedb2c09f2 {
width: auto;
font-size: 23px;
margin-top: 65px;
}
#id80f30cff-f9ed-7968-fdde-c8cbc891c405 {
width: 732px;
float: none;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
min-width: 0px;
max-width: none;
}
#id80f30cff-f9ed-7968-fdde-c8cbc891c405:hover {
margin-top: 20px;
}
#id93d258f8-106d-2c2e-5aa9-3ca6b713f42c {
min-width: 0px;
max-width: none;
width: 182px;
height: auto;
max-height: none;
min-height: 0px;
font-size: 14px;
}
#id4bf45929-8f9d-e36a-069b-50b99d4e15d2 {
width: 163px;
font-size: 18px;
min-width: 0px;
max-width: none;
margin-top: 7px;
}
#id62d0c8db-d597-5f86-de39-5f46a980128d {
font-size: 18px;
}
#ida9938517-abd7-02eb-0307-a78fbe06c659 {
min-width: 0px;
max-width: none;
width: 208px;
}
#id8e2fbde1-84a0-afa0-80bf-0c063a3b61db {
font-size: 18px;
margin-top: 7px;
}
#id36859f12-c9bf-4c33-2ff2-6239985a560d {
font-size: 18px;
}
#id1f0936fc-a002-b11b-5a6d-11ddba3b469f {
margin-top: 7px;
}
#id4f2bb674-7a4b-8277-f03e-eed699bc6fea {
font-size: 18px;
width: 67px;
min-width: 0px;
max-width: none;
margin-top: 0px;
}
#idec8eaf7d-180c-4c1a-dc8c-33b8e5038cca {
height: auto;
max-height: none;
min-height: 0px;
}
#idaa6b6c0a-e42b-0012-d02b-d07f76309dae {
font-size: 18px;
height: auto;
max-height: none;
min-height: 0px;
padding-bottom: 10px;
padding-top: 10px;
line-height: 25px;
margin-top: 80px;
}
#id51a32a4f-12e2-776a-5a8d-e578fdbd8a37 {
width: 20%;
font-size: 16px;
height: auto;
margin-bottom: 0px;
line-height: 50px;
}
#id536d5c36-7717-b5db-3de5-73914a9e8ae8 {
font-size: 18px;
width: 355px;
min-width: 0px;
max-width: none;
padding-top: 7px;
padding-bottom: 7px;
margin-bottom: 20px;
}
#idc1db96b8-ebd0-a782-a262-3f4bde7b8923 {
padding-left: 0px;
padding-right: 0px;
}
#id7b79edb9-d0b1-40ce-fcdf-ddd6a405936a {
width: auto;
margin-top: 30px;
margin-left: 20px;
font-size: 14px;
min-width: 0px;
max-width: none;
}
#id79f945aa-f79f-9d10-0368-6f26f330204c {
min-height: 330px;
}
#id1a23224f-22b0-e1f0-66e0-175406dfe21d {
width: 35%;
height: auto;
max-height: none;
min-height: 330px;
}
#id1adfe8e1-4a9b-a1f3-3f26-f17526f76a28 {
width: 27%;
}
#ide8f45c53-8f86-47f7-d4b2-8ea37b52721d {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
margin-left: 25px;
font-size: 14px;
line-height: 18px;
height: auto;
max-height: none;
min-height: 0px;
margin-top: 9px;
}
#id98b7778b-51c4-ba23-b55a-96149c86862b {
height: 368px;
max-height: none;
min-height: 0px;
}
#id2213bca2-f107-3847-88a7-3b3584b7577b {
font-size: 18px;
width: 206px;
min-width: 0px;
max-width: none;
height: auto;
max-height: none;
min-height: 0px;
padding-top: 7px;
padding-bottom: 8px;
}
#id2e351c23-7ce3-cfec-1735-b67c9e0b160e {
width: auto;
font-size: 18px;
}
#idd8322431-7ff8-57e1-1f44-58d7d9b6493b {
font-size: 18px;
}
#iddb6688aa-7a18-635c-9a29-0081633fa79f {
float: none;
margin-right: auto;
margin-left: auto;
font-size: 18px;
width: 239px;
min-width: 0px;
max-width: none;
padding-top: 6px;
padding-bottom: 6px;
margin-top: 25px;
margin-bottom: 12px;
}
#idb335634a-4e0e-12a3-fd70-fb4c077a1fe5 {
padding-left: 0px;
padding-right: 0px;
min-height: 0px;
}
#id3a100ba3-d481-7d65-0783-31a66c0a8d18 {
font-size: 16px;
width: auto;
}
#idead5c5d4-ee11-e698-3021-8a48e55366c6 {
margin-top: 10px;
height: 33px;
max-height: none;
min-height: 0px;
width: 33px;
min-width: 0px;
max-width: none;
margin-right: 15px;
}
#id2907b3fb-3f25-991c-b243-5215a9e7f916 {
width: 12%;
}
#id1b2e09ad-dbdb-461c-a642-74f0ac560cc4 {
font-size: 23px;
margin-top: 25px;
}
#id0d9ad2c4-6bbe-f327-eda6-da22d050cfa0 {
width: 12%;
}
#id84474b78-326c-a4ce-7761-3dc467e55ded {
margin-right: 15px;
width: 33px;
height: 33px;
margin-top: 2px;
}
#ide26f54ac-c4ea-74ea-1976-7790d0a60cf5 {
font-size: 16px;
width: auto;
}
#idb2917b1d-7066-d965-f72c-ef9faf3cc0e4 {
width: 12%;
}
#id3da9137b-61a7-d489-3f19-33af99d6ae5b {
width: 33px;
height: 33px;
margin-right: 15px;
margin-top: 10px;
}
#id60aed0ed-0552-aeec-02af-b3197efb63f5 {
font-size: 16px;
width: auto;
}
#id4bc997ae-449a-2bfa-4501-8fb1e43ffa9f {
margin-bottom: 25px;
}
#idd0049ff2-c263-f552-386d-33d796389d52 {
width: 12%;
}
#id6f0331d6-e0bf-75b1-1c24-9a58ee164db3 {
margin-right: 15px;
margin-top: 3px;
height: 14px;
width: 55.125px;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
}
#idbade0ab0-0e14-fdeb-6f0e-bd9c2aeecd14 {
font-size: 16px;
width: auto;
}
#id18e1b9c1-ecfc-594e-69a9-b01937230ab7 {
width: auto;
padding-left: 0px;
padding-right: 0px;
}
#id56c9f280-6af5-6c9f-feab-38dfc0153cc7 {
height: 39px;
max-height: none;
min-height: 0px;
width: 59.22222222222223px;
min-width: 0px;
max-width: none;
margin-left: 20px;
}
#idc381f8a4-1bde-6466-8ed2-956ca4a74a6e {
height: 40px;
max-height: none;
min-height: 0px;
width: 218.4px;
min-width: 0px;
max-width: none;
}
#idfde69c90-e58c-ff59-38f8-f2d9ad78fc23 {
height: 39px;
max-height: none;
min-height: 0px;
width: 161.45999999999998px;
min-width: 0px;
max-width: none;
}
#idb1951540-7fcd-f114-125d-705c08e9f48a {
height: 39px;
max-height: none;
min-height: 0px;
width: 102.73170731707317px;
min-width: 0px;
max-width: none;
}
#idf2c276e3-2eed-aced-9a11-0eccd931b652 {
height: 40px;
max-height: none;
min-height: 0px;
width: 132px;
min-width: 0px;
max-width: none;
margin-left: 10px;
}
#id38300a00-a9cb-277d-aea4-d731dc83dbc2 {
width: 750px;
float: none;
margin-right: auto;
margin-left: auto;
height: auto;
max-height: none;
min-height: 44px;
min-width: 0px;
max-width: none;
margin-bottom: 15px;
}
#id8530c407-41a7-b276-d6c8-a6d851779eb7 {
height: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
width: 76px;
margin-left: 10px;
}
#ide3f53b30-44f4-5509-e62a-e55302ccc3bd {
height: auto;
max-height: none;
min-height: 0px;
min-width: 0px;
max-width: none;
width: 127px;
}
#id295b5416-ce72-baab-ef07-6ddaefe33fb7 {
min-width: 0px;
max-width: none;
width: 225px;
margin-left: 25px;
}
#id84568961-3c44-46de-f300-f3ee2081e27a {
min-width: 0px;
max-width: none;
width: 161px;
min-height: 0px;
}
#idadd691ac-f136-e3e0-d05c-52bc2cb608c6 {
min-width: 0px;
max-width: none;
width: 122px;
height: auto;
max-height: none;
min-height: 0px;
}
#idd8b4afdb-1fbb-16e2-1217-3e8f7145165e {
height: 18px;
max-height: none;
min-height: 0px;
width: 34px;
min-width: 0px;
max-width: none;
}
#idb7f5e47a-c732-aa36-8bed-87ed0d1c4fde {
width: 90%;
}
#id3f4aca47-aa11-b338-a474-0a47f4c31ca6 {
width: 38%;
}
#id9c50d30a-70cd-f119-1b28-cedd89748f11 {
height: 30px;
}
#id6e4d046c-b8f2-9ad4-a07c-2fbbd8bee286 {
height: 30px;
}
#idff5e0d6a-ee73-c41d-5bc6-d24927524747 {
height: 30px;
}
#id4d83aa45-ede9-55c7-f026-34500e303a9d {
height: 80px;
}
#id4cbb6939-688d-3e4d-533b-89e143c1a444 {
font-size: 11px;
}
#idcf3d3b8d-1581-f4e1-b62b-a812d2350fef {
margin-top: 7px;
}
#id93e25bd5-2dd0-9d75-5716-02617e75ca48 {
font-size: 11px;
margin-left: 3px;
}
#id48b4b9c7-b60c-4234-49b8-04c7d270c775 button {
padding-top: 6px;
padding-bottom: 6px;
font-size: 14px;
}
}
@media(max-width: 767px) {
#id871d72e2-37d5-5105-5ac8-2fb56090a7aa {
height: 350px;
}
#id9e096189-595d-62c7-2161-ab851faa3c55 {
width: 40px;
min-width: 0px;
max-width: none;
margin-right: 20px;
height: 40px;
margin-top: 5px;
}
#id0445008e-4d45-0f8e-6d5d-22d120898c87 .navbarmenubtn[data-id="id9e096189-595d-62c7-2161-ab851faa3c55"] {
height: 30px;
max-height: none;
min-height: 0px;
margin-top: 5px;
float: none;
margin-right: auto;
margin-left: auto;
background-image: url('images/images908/burger.png');
background-size: contain;
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: scroll;
width: 20px;
}
#id0445008e-4d45-0f8e-6d5d-22d120898c87 .navbarmenubtn.selected[data-id="id9e096189-595d-62c7-2161-ab851faa3c55"] {
background-image: url('images/images908/krest.png');
background-size: contain;
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: scroll;
}
#idedf76888-210c-2015-a74b-2de9461e6294 {
margin-top: 5px;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
width: 398px;
min-width: 0px;
max-width: none;
background-color: rgba(0, 0, 0, 0.85);
}
#ide6800103-5d78-59e6-2a18-36bf8c62c50c {
width: auto;
margin-right: 0px;
margin-left: 0px;
padding-left: 15px;
padding-right: 15px;
}
#id1bfbe1f0-7c29-37dd-103f-fcfed5c68f67 {
width: 136px;
min-width: 0px;
max-width: none;
margin-right: 0px;
padding-left: 15px;
padding-right: 15px;
}
#id0bc9ba50-8ab4-3f00-8838-d09ef481adbd {
font-size: 20px;
}
#id2f2f3f8a-5132-d93a-c0db-ad28a728220b {
font-size: 16px;
}
#id7da52e53-d786-c742-5045-ed625d3f79c3 {
font-size: 16px;
}
#id2f8feb3d-bc49-684d-2379-d8eedb2c09f2 {
margin-top: 57px;
font-size: 20px;
}
#id80f30cff-f9ed-7968-fdde-c8cbc891c405 {
width: 450px;
min-width: 0px;
max-width: none;
margin-top: 7px;
}
#id80f30cff-f9ed-7968-fdde-c8cbc891c405:hover {
margin-top: 7px;
}
#id93d258f8-106d-2c2e-5aa9-3ca6b713f42c {
min-width: 0px;
max-width: none;
width: 144px;
float: left;
}
#id4bf45929-8f9d-e36a-069b-50b99d4e15d2 {
font-size: 14px;
height: 17px;
max-height: none;
min-height: 0px;
width: 137px;
min-width: 0px;
max-width: none;
}
#id62d0c8db-d597-5f86-de39-5f46a980128d {
font-size: 14px;
width: 126px;
min-width: 0px;
max-width: none;
}
#ida9938517-abd7-02eb-0307-a78fbe06c659 {
min-width: 0px;
max-width: none;
width: 156px;
}
#id8e2fbde1-84a0-afa0-80bf-0c063a3b61db {
font-size: 14px;
width: 131px;
min-width: 0px;
max-width: none;
}
#id36859f12-c9bf-4c33-2ff2-6239985a560d {
font-size: 14px;
width: 152px;
min-width: 0px;
max-width: none;
}
#id1f0936fc-a002-b11b-5a6d-11ddba3b469f {
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
min-width: 0px;
max-width: none;
width: 105px;
float: left;
}
#id4f2bb674-7a4b-8277-f03e-eed699bc6fea {
font-size: 14px;
}
#idaa6b6c0a-e42b-0012-d02b-d07f76309dae {
font-size: 14px;
letter-spacing: -1px;
}
#id51a32a4f-12e2-776a-5a8d-e578fdbd8a37 {
width: auto;
margin-right: 0px;
padding-left: 15px;
padding-right: 15px;
}
#id536d5c36-7717-b5db-3de5-73914a9e8ae8 {
font-size: 14px;
width: 274px;
min-width: 0px;
max-width: none;
padding-bottom: 7px;
height: auto;
}
#id536d5c36-7717-b5db-3de5-73914a9e8ae8:hover {
height: auto;
}
#id7b79edb9-d0b1-40ce-fcdf-ddd6a405936a {
margin-left: 40px;
margin-top: 60px;
}
#id1a23224f-22b0-e1f0-66e0-175406dfe21d {
width: 50%;
float: left;
margin-top: 0px;
}
#id1adfe8e1-4a9b-a1f3-3f26-f17526f76a28 {
float: left;
width: 50%;
height: auto;
max-height: none;
min-height: 366px;
margin-left: -250px;
}
#ide8f45c53-8f86-47f7-d4b2-8ea37b52721d {
float: left;
margin-right: auto;
margin-left: 15px;
width: 120px;
min-width: 0px;
max-width: none;
margin-top: 8px;
}
#id98b7778b-51c4-ba23-b55a-96149c86862b {
margin-top: 366px;
}
#id2213bca2-f107-3847-88a7-3b3584b7577b {
font-size: 16px;
padding-top: 6px;
padding-bottom: 7px;
width: 178px;
min-width: 0px;
max-width: none;
}
#id2e351c23-7ce3-cfec-1735-b67c9e0b160e {
font-size: 16px;
}
#id028e4317-a822-e0a3-dcd9-42a0d65337a1 {
min-width: 0px;
max-width: none;
width: 20px;
min-height: 20px;
}
#idc6bf0107-a284-70e4-1579-553a4d2c2313 {
width: 20px;
min-height: 20px;
}
#idd8322431-7ff8-57e1-1f44-58d7d9b6493b {
width: 109px;
font-size: 14px;
min-width: 0px;
max-width: none;
}
#iddb6688aa-7a18-635c-9a29-0081633fa79f {
margin-top: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 14px;
width: 183px;
min-width: 0px;
max-width: none;
height: auto;
}
#iddb6688aa-7a18-635c-9a29-0081633fa79f:hover {
height: auto;
}
#id3a100ba3-d481-7d65-0783-31a66c0a8d18 {
font-size: 14px;
}
#id2907b3fb-3f25-991c-b243-5215a9e7f916 {
margin-bottom: 5px;
}
#id1b2e09ad-dbdb-461c-a642-74f0ac560cc4 {
font-size: 20px;
margin-bottom: 0px;
}
#ide05933e2-08b3-c758-a5a4-64673f1af093 {
margin-top: 10px;
}
#id0d9ad2c4-6bbe-f327-eda6-da22d050cfa0 {
margin-bottom: 5px;
}
#ide26f54ac-c4ea-74ea-1976-7790d0a60cf5 {
font-size: 14px;
}
#idd02283c6-f34e-c088-e3c6-47c6a462cd48 {
margin-top: 10px;
}
#idb2917b1d-7066-d965-f72c-ef9faf3cc0e4 {
margin-bottom: 5px;
}
#id60aed0ed-0552-aeec-02af-b3197efb63f5 {
font-size: 14px;
}
#id4bc997ae-449a-2bfa-4501-8fb1e43ffa9f {
margin-top: 15px;
}
#idd0049ff2-c263-f552-386d-33d796389d52 {
margin-bottom: 5px;
}
#idbade0ab0-0e14-fdeb-6f0e-bd9c2aeecd14 {
font-size: 14px;
}
#id56c9f280-6af5-6c9f-feab-38dfc0153cc7 {
margin-left: 0px;
height: 35px;
max-height: none;
min-height: 0px;
width: 52.94871794871795px;
min-width: 0px;
max-width: none;
float: none;
}
#idc381f8a4-1bde-6466-8ed2-956ca4a74a6e {
float: right;
height: 25px;
max-height: none;
min-height: 0px;
width: 136.25px;
min-width: 0px;
max-width: none;
}
#idfde69c90-e58c-ff59-38f8-f2d9ad78fc23 {
height: 25px;
max-height: none;
min-height: 0px;
width: 103.20512820512822px;
min-width: 0px;
max-width: none;
}
#idb1951540-7fcd-f114-125d-705c08e9f48a {
height: 32px;
max-height: none;
min-height: 0px;
width: 84.51282051282051px;
min-width: 0px;
max-width: none;
}
#idf2c276e3-2eed-aced-9a11-0eccd931b652 {
margin-left: 300px;
float: left;
}
#id38300a00-a9cb-277d-aea4-d731dc83dbc2 {
width: auto;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#id8530c407-41a7-b276-d6c8-a6d851779eb7 {
min-width: 0px;
max-width: none;
width: 54px;
margin-left: 0px;
}
#ide3f53b30-44f4-5509-e62a-e55302ccc3bd {
float: left;
}
#id295b5416-ce72-baab-ef07-6ddaefe33fb7 {
min-width: 0px;
max-width: none;
width: 143px;
height: auto;
max-height: none;
min-height: 33px;
position: relative;
top: auto;
left: auto;
bottom: auto;
right: auto;
}
#id84568961-3c44-46de-f300-f3ee2081e27a {
width: 98px;
min-width: 0px;
max-width: none;
}
#idadd691ac-f136-e3e0-d05c-52bc2cb608c6 {
min-width: 0px;
max-width: none;
width: 79px;
}
#idd8b4afdb-1fbb-16e2-1217-3e8f7145165e {
margin-bottom: 15px;
}
#idb7f5e47a-c732-aa36-8bed-87ed0d1c4fde {
float: none;
margin-right: auto;
margin-left: auto;
}
#ideb70639d-ffde-fb0c-1a50-4c8b4bb2ba0e button {
padding-top: 5px;
padding-bottom: 5px;
}
#id0ae026ef-597d-bc80-e5a1-853bd6d58db5 {
width: 100%;
}
#id3f4aca47-aa11-b338-a474-0a47f4c31ca6 {
width: 50%;
float: right;
margin-right: auto;
margin-left: auto;
margin-top: 0px;
height: auto;
max-height: none;
min-height: 366px;
}
#id8014362b-ff9d-66ea-0c2a-b290bc270127 {
margin-top: 60px;
width: 90%;
}
}
@media(max-width: 479px) {
#idedf76888-210c-2015-a74b-2de9461e6294 {
min-width: 0px;
max-width: none;
width: 167px;
height: auto;
max-height: none;
min-height: 82px;
background-color: rgba(0, 0, 0, 0.95);
}
#ide6800103-5d78-59e6-2a18-36bf8c62c50c {
padding-left: 0px;
padding-right: 0px;
width: 100%;
}
#id1bfbe1f0-7c29-37dd-103f-fcfed5c68f67 {
padding-left: 0px;
padding-right: 0px;
width: 100%;
}
#id0bc9ba50-8ab4-3f00-8838-d09ef481adbd {
font-size: 18px;
}
#id2f2f3f8a-5132-d93a-c0db-ad28a728220b {
font-size: 14px;
}
#id7da52e53-d786-c742-5045-ed625d3f79c3 {
font-size: 14px;
}
#id2f8feb3d-bc49-684d-2379-d8eedb2c09f2 {
font-size: 14px;
}
#id80f30cff-f9ed-7968-fdde-c8cbc891c405 {
min-width: 0px;
max-width: none;
width: 302px;
}
#id93d258f8-106d-2c2e-5aa9-3ca6b713f42c {
font-size: 12px;
min-width: 0px;
max-width: none;
width: 88px;
}
#id4bf45929-8f9d-e36a-069b-50b99d4e15d2 {
font-size: 12px;
width: 68px;
min-width: 0px;
max-width: none;
height: 27px;
max-height: none;
min-height: 0px;
margin-top: 0px;
}
#id62d0c8db-d597-5f86-de39-5f46a980128d {
font-size: 12px;
width: 79px;
min-width: 0px;
max-width: none;
}
#ida9938517-abd7-02eb-0307-a78fbe06c659 {
min-width: 0px;
max-width: none;
width: 93px;
}
#id8e2fbde1-84a0-afa0-80bf-0c063a3b61db {
font-size: 12px;
width: 69px;
min-width: 0px;
max-width: none;
margin-top: 0px;
}
#id36859f12-c9bf-4c33-2ff2-6239985a560d {
font-size: 12px;
width: 90px;
min-width: 0px;
max-width: none;
}
#id1f0936fc-a002-b11b-5a6d-11ddba3b469f {
min-width: 0px;
max-width: none;
width: 89px;
margin-top: 0px;
}
#id4f2bb674-7a4b-8277-f03e-eed699bc6fea {
font-size: 12px;
height: 11px;
max-height: none;
min-height: 0px;
width: 59px;
min-width: 0px;
max-width: none;
}
#idaa6b6c0a-e42b-0012-d02b-d07f76309dae {
letter-spacing: 0px;
font-size: 14px;
}
#id51a32a4f-12e2-776a-5a8d-e578fdbd8a37 {
width: 100%;
padding-left: 0px;
padding-right: 0px;
}
#id7b79edb9-d0b1-40ce-fcdf-ddd6a405936a {
margin-left: 30px;
}
#id1adfe8e1-4a9b-a1f3-3f26-f17526f76a28 {
margin-left: 0px;
width: 100%;
min-height: 0px;
}
#id2213bca2-f107-3847-88a7-3b3584b7577b {
font-size: 14px;
width: 157px;
min-width: 0px;
max-width: none;
}
#id2e351c23-7ce3-cfec-1735-b67c9e0b160e {
font-size: 14px;
margin-bottom: 10px;
}
#id028e4317-a822-e0a3-dcd9-42a0d65337a1 {
width: 10px;
}
#idc6bf0107-a284-70e4-1579-553a4d2c2313 {
width: 10px;
}
#id614cc103-f76e-5c04-03dc-b414e5cd5ba4 {
width: 65px;
}
#idd8322431-7ff8-57e1-1f44-58d7d9b6493b {
font-size: 12px;
width: 88px;
min-width: 0px;
max-width: none;
}
#iddb6688aa-7a18-635c-9a29-0081633fa79f {
margin-bottom: 15px;
}
#id3a100ba3-d481-7d65-0783-31a66c0a8d18 {
font-size: 12px;
}
#id1b2e09ad-dbdb-461c-a642-74f0ac560cc4 {
font-size: 14px;
}
#ide26f54ac-c4ea-74ea-1976-7790d0a60cf5 {
font-size: 12px;
}
#id60aed0ed-0552-aeec-02af-b3197efb63f5 {
font-size: 12px;
}
#id6f0331d6-e0bf-75b1-1c24-9a58ee164db3 {
margin-right: 0px;
}
#idbade0ab0-0e14-fdeb-6f0e-bd9c2aeecd14 {
font-size: 12px;
}
#idd8b4afdb-1fbb-16e2-1217-3e8f7145165e {
margin-bottom: 10px;
}
#id3b684d0a-639b-eb27-e239-a520409b7f84 {
font-size: 10px;
width: 186px;
min-width: 0px;
max-width: none;
}
#ideb70639d-ffde-fb0c-1a50-4c8b4bb2ba0e button {
padding-top: 5px;
padding-bottom: 5px;
}
#id87dcbfe8-dc43-bcb2-76b8-14568f2239dd {
margin-top: 12px;
}
#id58a488a8-55ad-d238-702f-cf8b5720b26e {
font-size: 10px;
width: 136px;
min-width: 0px;
max-width: none;
}
#id3f4aca47-aa11-b338-a474-0a47f4c31ca6 {
width: 100%;
min-height: 0px;
}
#id8014362b-ff9d-66ea-0c2a-b290bc270127 {
margin-top: 20px;
margin-bottom: 20px;
}
}